fastapi>=0.110.0
uvicorn>=0.27.1
pydantic>=2.12.0
python-dotenv>=1.0.1
jinja2>=3.1.6
xhtml2pdf>=0.2.16
qrcode[pil]>=7.4.2
factur-x>=1.10
lxml>=6.0.0
requests>=2.31.0
python-multipart>=0.0.6
setuptools<71
bip-utils>=2.12.0
